
.header-body {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top:-50px;
    background: #1bb98f;
}

.header-left{
    height: 650px;
    width: 800px;
    background: url('./blob-shape.svg') center no-repeat;
    background-size:850px; 
    z-index: 1;
}

.header-right {
    width: 50%;
    height: 500px;
    margin-top: auto;
    padding: 65px;
}

.header-right .title {
    min-width: 450px;
}

.header-right .text {
    min-width: 450px;
    padding: 15px;
}

.btn-container {
    min-width: 500px;
}

.header-right .myco-btn {
    display: inline-block;
    margin: 20px 35px;
}
.round-div {
    position: absolute;
    top: 600px;
    left: 0;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    background: url('./blob-round.svg') center no-repeat;
    background-size: 2080px;
}