.landing .main-sidebar {
    display: none;
}

.header-body {
    display: flex;
    flex-direction: column;
    background: #1bb98f;
    margin-bottom: 160px;
}

@media (min-width:900px) {
    .landing .header-body {
        display: flex;
        flex-direction: row;
    }
} 

.round-div {
    position: relative;
    top: 140px;
    left: 0;
    height: 250px;
    background: url('./blob-round.svg') center no-repeat;
    background-size: 600px;
}

@media (min-width:501px) {
    .round-div {
        background-size: 1200px;
        z-index: -1;
    }
}

@media (min-width:900px) {
    .round-div {
        position: absolute;
        top: 600px;
        background-size: 2080px;
        z-index: -1;
    }
}

.blob {
    height: 650px;
    background: url('./blob-shape.svg') center no-repeat;
    background-size:750px; 
    z-index: 1;
}

@media (min-width:900px){
    .blob {
        background-size: 850px;
        min-width: 50%;
    }
}

.info {
    height: 250px;
    z-index: 1;
    background: #1bb98f;
    margin-bottom: -180px;
}

@media (min-width:900px){
    .info {
        min-width: 50%;
        z-index: 0;
    }
}

.info .text {
    padding: 15px;
}

.btn-container {
    min-width: 100%;
}
