.Litem {
    width: 95%;
    height: 80px;
    margin: 10px auto;
}

.Litem i{
    margin-top: -15px;
}

.extraO {
    background: #1bb98f !important;
}

.deuda {
    background: #F93131 !important;
}

@media (min-width: 768px) {
    .Litem {
        width: 85%;
        height: 80px;       
    }
}

.item {
    min-width: 50px;
}

@media (min-width: 768px) {
    .item {
        max-width: 180px;
        min-width: 180px;
    }
}


.add-property {
    margin: 50px auto;
}

@media (min-width: 768px) {
    .add-property {
        margin: 70px auto;
    }
}

.pen-container{
    display: none;
}

@media (min-width: 768px) {
    .expand {
        left: 0;
    }

    .pen-container{
        display: inline;
        margin-top: 30px;
    }

    .pen{
        right: 15px;
    }
}
