/*
    .Paleta de colores (por ahora)

        -PRINCIPALES:
    aquamarine
        #1bb98f
        #54b89d
    navy
        #4a5368
        #545D73

        -GRISES:
    gray
        #717171
    white
        #FaFaFa

    .fuentes
        Para texto pequeño y botones
        -Nunito

        Para Headers y titulos
        -Raleway 700

*/

body {
    font-family: 'Nunito', sans-serif !important;
    background: #fafafa;
}

/* clases genericas*/
.white {
    color: #fafafa;
}

.navy {
    color: #4a5368;
}

.aquamarine {
    color: #1bb98f;
}

/*tamaños de texto*/
.small {
    font-size: 14px !important;
}

.medium {
    font-size: 30px !important;
}

.big {
    font-size: 42px !important;   
}

/*tipos de texto*/

.title {
    margin: 5px auto;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
}

.text {
    margin: 5px auto;
    font-size: 15px;
    text-align: left;
}


/* sobreescritura de clases de bootstrap/shards */

.modal-title {
    margin: 5px auto;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
}

.btn.btn-primary {
    background: #64739b;
    border-color:  #64739b;
    width: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    border-radius: 50px;
    font-family: 'Nunito',sans-serif;
}

.btn.btn-primary:hover {
    background: #4a5368;
    border-color:  #4a5368;
}

.btn.btn-primary:active {
    background: #64739b !important;
    border-color:  #64739b !important;
}

.btn.btn-secondary {
    width: 100px;
    height: 50px;
    background: #fafafa;
    color: #1bb98f;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: auto 10px;
    font-family: 'Nunito',sans-serif;
}

.btn.btn-secondary:hover {
    background: #4a5368;
}

.btn.btn-secondary:active {
    color: #4a5368 !important;
    background: #3ca186 !important;
}

.btn.btn-secondary:focus {
    outline: 0;
}

input.form-control.form-control-med,
span.input-group-text {
    margin: 10px 0;
}
